.game-list {
  padding: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tab-button {
  padding: 10px;
  cursor: pointer;
  background-color: #eee;
}

.tab-button.active {
  background-color: #2196f3;
  color: white;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
